body{
    background-image: linear-gradient(to left,rgba(230, 187, 67, 0.5),rgba(18, 35, 200, 0.2),rgba(188, 42, 216, 0.1)),url("images/35.png");

}
h1{
    font-weight: bolder;
    font-size: 30px;
    color: black;
}
mark{
    background-color: yellow;
}
h2{
    font-size: 20px;
 
   color: blue;
}